narzedzia_it.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="narzedzia_it">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="narzedzie" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nazwa" type="xs:string"/>
              <xs:element name="typ" type="xs:string"/>
              <xs:element name="funkcje">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="funkcja" type="xs:string" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="wersja" type="xs:string" nillable="true"/>
              <xs:element name="open_source" type="xs:boolean"/>
              <xs:element name="strona" type="xs:anyURI" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>